<mat-card>
  <mat-toolbar color="primary"> Cursos Disponiveis </mat-toolbar>

  <div *ngIf="cursos$ | async as cursos; else loading">
    <table mat-table [dataSource]="cursos" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let curso"> {{ curso._id }} </td>
      </ng-container>

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let curso"> {{ curso.nome }} </td>
      </ng-container>

      <!-- Categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let curso"> {{ curso.categoria }}
          <mat-icon aria-hidden="false" aria-label="icon categoria" fontIcon="{{ curso.categoria | categoria }}"></mat-icon>
        </td>
      </ng-container>

          <!-- Categoria Column -->
          <ng-container matColumnDef="acoes">
            <th mat-header-cell *matHeaderCellDef> Acoes </th>
            <mat-header-cell *matHeaderCellDef="">
              <button mat-mini-fab color="accent" aria-label="botao para acoes em cursos listados">
                <mat-icon>menu</mat-icon>
              </button>
            </mat-header-cell>

            <mat-cell *matCellDef="let cursos">
              <button (click)="onAdd()" mat-icon-button color="accent" aria-label="adicionar curso listado">
                <mat-icon>add</mat-icon>
              </button>

              <button  mat-icon-button color="primary" aria-label="editar curso listado">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button color="warn" aria-label="remover cursos listados">
                <mat-icon>delete</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->


</mat-card>
